.heroImage {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/frontpage_headerimg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
}

.movedSection {
    width: 100%;
    height: 20vh;
    background-image: url("../images/frontpage_abstractlines.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movedSectionHeadline {
    color: white;
    font-size: 3rem;
    font-weight: 300;
}

.socialSection {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.socialSection__facebook,
.socialSection__b,
.socialSection__twitter {
    position: relative;
    display: flex;
}

.socialSection__image {
    width: 100%;
}

.socialSection__icon {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialSection__icon svg {
    height: 200px;
    width: auto;
    fill: white;
}

.blogSection {
    color: wheat;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 300px;
    padding-left: 200px;
    padding-right: 200px;
}

.blogSection__items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10%;
}

.blogSecion__headline {
    color: hsl(44, 26%, 41%);
    text-transform: uppercase;
    font-size: 2rem;
    border: 2px solid hsl(44, 26%, 51%);
    padding: 10px 15px 10px 15px;
    margin-bottom: 10px;
}

.blogsection__text {
    color: hsl(120, 100%, 98%);
    text-transform: uppercase;
    text-align: center;
}