*{
    margin: 0;
    padding: 0;
}

.main_header {
    background-color: black;
    list-style: none;
    padding: 10px;
    text-align: center;
}

.main_header li {
    display: inline;
}

.main_header a {
    display: inline-block;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.main_header a:hover{
    color: hsl(44, 26%, 51%);
}

.main_header a:active{
    color: hsl(44, 26%, 51%);
}