.mbc {
    font-family: 'Museo Sans Rounded 300';
}

.mbc__title {
    font-size: 1.2em;
    margin: 0;
    color: hsl(44, 26%, 51%);
}

.mbc__list {
    display: flex;
    flex-direction: column;
    padding: 0.25em 0.5em;
    max-height: 10em;
    overflow-y: hidden;
}

.mbc__list.js-showAll {
    max-height: 100%;
}

.mbc__link {
    color: hsl(44, 26%, 31%);
    padding: 0.25em;
    text-transform: uppercase;
}

.mbc__linkAll {
    color: hsl(44, 26%, 51%);
}

.mbc__linkAll.js-hidden {
    display: none;
}

.mbc__link:hover {
    color: hsl(44, 26%, 51%);
}

.mbc__linkAll:hover {
    color: hsl(44, 26%, 31%);
}