.shopCategories_container,
.shopBy,
.manufacturer {
    background-color: hsl(30, 6%, 93%);
    display: flex;
    flex-direction: column;
    font-family: 'Museo Sans Rounded 300';
    padding: 1em;
}

.marginBottom {
    margin-bottom: 10px;
}

.shopCategories__listContainer {
    padding: 0;
    margin: 0;
}

.shopCategories__list {
    display: flex;
    flex-direction: column;
}

.primaryCategory {}

.paddingSub {
    padding-left: 10px;
}

.shopBy__headline {
    font-size: 1.3rem;
    color: hsl(44, 26%, 51%);
    margin: 0;
}

.shopBy__subHeadline {
    font-size: 1.2rem;
    margin: 1em 0 0;
}

.Price__headline,
.manufacturer__headline {
    font-size: 1rem;
    text-transform: uppercase;
}

.selected {
    color: rgb(56, 56, 56);
}

.textColor {
    padding-top: 0.25em;
    color: hsl(44, 26%, 51%);
}

.textColor:hover {
    color: hsl(44, 26%, 31%);
}

.hidden {
    display: none;
}