@import "./singlepage-image.css";

.mainSinglePage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 1.4em;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 1em;
}

.mainSinglePage__image {
    grid-row: span 3;
}

.mainSinglePage__fullSpan {
    grid-column: span 2;
}

@media only screen and (max-width: 768px) {
    .mainSinglePage {
        grid-template-columns: 1fr;
    }
    .mainSinglePage__fullSpan {
        grid-column: span 1;
    }
}